<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script> {% static 'script.js' %}
</head>
    <body>
        <div class="container" id="container">
            <h1>Select Level</h1>

            <button id="btnLv1">Level 1</button>
            <button id="btnLv2">Level 2</button>
            <button id="btnLv3">Level 3</button>
        </div>
    </body>
</html>
